
@font-face {
    font-family: 'SamsungSharpSans-Bold';
    src: url('fonts/SamsungSharpSans-Bold.eot');
	src: local('☺'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Bold.woff') format('woff'),
        //url('../fonts/SamsungSharpSans/SamsungSharpSans-Bold.ttf') format('truetype'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SamsungSharpSans-Medium';
    src: url('fonts/SamsungSharpSans-Medium.eot');
	src: local('☺'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Medium.woff') format('woff'),
        //url('../fonts/SamsungSharpSans/SamsungSharpSans-Medium.ttf') format('truetype'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SamsungSharpSans-Regular';
    src: url('fonts/SamsungSharpSans-Regular.eot');
	src: local('☺'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Regular.woff') format('woff'),
        //url('../fonts/SamsungSharpSans/SamsungSharpSans-Regular.ttf') format('truetype'),
        url('../fonts/SamsungSharpSans/SamsungSharpSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
